<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Genres</title>
    <link rel="stylesheet" href="/styles/styles.css" />
    <script>
      function confirmDeletion() {
        return confirm('Are you sure you want to delete this move?');
      }
    </script>
  </head>
  <body>
    <%- include('../partials/header') %>
    <button class="add-button" onclick="window.location.href='/genres/new'">
      +
    </button>
    <main>
      <h2>Genres</h2>
      <table>
        <thead>
          <tr>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          <% if(genres){ %> <% genres.forEach(genre => { %>
          <tr>
            <td><%= genre.name %></td>
            <td class="iconsContainer">
              <a href="/genres/<%= genre.id %>/edit">
                <img src="/icons/edit-icon.svg" alt="Edit"
              /></a>
              <form
                action="/genres/<%= genre.id %>/delete?_method=DELETE"
                method="post"
                onsubmit="return confirmDeletion()"
              >
                <input type="hidden" name="_method" value="DELETE" />
                <button type="submit">
                  <img src="/icons/trash-icon.svg" alt="Delete" />
                </button>
              </form>
            </td>
          </tr>
          <%});}%>
        </tbody>
      </table>
    </main>
  </body>
</html>
