<head>
  <link rel="stylesheet" href="styles/styles.css" />
</head>
<header>
  <h1>MoviesDB</h1>
  <ul>
    <li><a href="/">Movies</a></li>
    <li><a href="/genres">Genres</a></li>
    <li><a href="/directors">Directors</a></li>
    <li><a href="/studios">Studios</a></li>
  </ul>
</header>
