<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Directors</title>
  </head>
  <body>
    <%- include('partials/header') %>
    <main>
      <table>
        <thead>
          <tr>
            <th>Full Name</th>
            <th>Birth Date</th>
          </tr>
        </thead>
        <tbody>
          <% if(directors){ %> <% directors.forEach(directors => { %>
          <tr>
            <td><%= directors.fullName %></td>
            <td><%= directors.birthDate %></td>
            <td class="iconsContainer">
              <a href=""> <img src="/icons/edit-icon.svg" alt="Edit" /></a>
              <a href=""> <img src="/icons/trash-icon.svg" alt="Delete" /></a>
            </td>
          </tr>
          <%});}%>
        </tbody>
      </table>
    </main>
  </body>
</html>
