<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Studios</title>
  </head>
  <body>
    <%- include('partials/header') %>
    <main>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Location</th>
          </tr>
        </thead>
        <tbody>
          <% if(studios){ %> <% studios.forEach(studio => { %>
          <tr>
            <td><%= studio.name %></td>
            <td><%= studio.location %></td>
            <td class="iconsContainer">
              <a href=""> <img src="/icons/edit-icon.svg" alt="Edit" /></a>
              <a href=""> <img src="/icons/trash-icon.svg" alt="Delete" /></a>
            </td>
          </tr>
          <%});}%>
        </tbody>
      </table>
    </main>
  </body>
</html>
