<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Studios</title>
  </head>
  <body>
    <%- include('partials/header') %>
    <main>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Location</th>
          </tr>
        </thead>
        <tbody>
          <% if(studios){ %> <% studios.forEach(studio => { %>
          <tr>
            <td><%= studio.name %></td>
            <td><%= studio.location %></td>
          </tr>
          <%});}%>
        </tbody>
      </table>
    </main>
  </body>
</html>
